<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.onlineeduplatform.mapper.UserMapper">
    <select id="getPassword" parameterType="String" resultType="String">
        SELECT password
        FROM op
        WHERE username = #{username}
    </select>

    <select id="getRole" parameterType="String" resultType="String">
        SELECT role
        FROM role
        WHERE id = (select op_role from op where username = #{username})
    </select>

    <update id="updatePassword" parameterType="String">
        UPDATE op
        SET password = #{password}
        WHERE username = #{username}
    </update>

    <select id="getUser" resultType="String">
        SELECT username
        FROM op
    </select>

    <update id="banUser" parameterType="String">
        UPDATE op
        SET ban = 1
        WHERE username = #{username}
    </update>

    <select id="checkUserBanStatus" parameterType="String" resultType="int">
        SELECT ban
        FROM op
        WHERE username = #{username}
    </select>

    <select id="getRolePermission" parameterType="String" resultType="String">
        SELECT permission
        FROM role
        WHERE id = (select op_role from op where username=#{username})
    </select>

    <select id="getPermission" parameterType="String" resultType="String">
        SELECT permission
        FROM role
        WHERE id = (select op_role from op where username=#{username})
    </select>

    <insert id="addUser" parameterType="String">
        INSERT
        into op
        values (default,#{username},#{password},#{email},#{role},default,default ,default ,default ,default,default)
    </insert>

    <select id="getUserInf" parameterType="String" resultMap="UserInf">
        select * from op as u,role as r where u.username= #{username} and u.op_role = r.id
    </select>
    <resultMap id="UserInf" type="com.training.onlineeduplatform.model.user.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="ban" column="ban"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="birthdata" column="birthdata"/>
        <result property="sign" column="sign"/>
        <result property="icon" column="icon"/>
        <association property="role" javaType="com.training.onlineeduplatform.model.Role">
            <id property="id" column="id"/>
            <result property="role" column="role"/>
            <result property="permission" column="permission"/>
        </association>
    </resultMap>

    <select id="getUserId" resultType="String">
        select id from op where username = #{username}
    </select>

    <update id="changeUserInf" parameterType="com.training.onlineeduplatform.model.user.UserChangeInf">
        update op
        set email = #{email}, sex = #{sex} ,phone = #{phone} ,birthdata = #{birthdata}, sign = #{sign}
        where username = #{username}
    </update>

    <select id="getUserIcon" parameterType="String" resultType="String">
        select icon from op where username = #{username}
    </select>

    <update id="changeUserIcon" parameterType="String">
        update op
        set icon = #{path}
        where username = #{username}
    </update>

    <update id="changeUserPass" parameterType="String">
        update op
        set password = #{newpassword}
        where username = #{username}
    </update>

    <update id="signUp" parameterType="String">
        update opSignIn
        set lastsign = curdate()
        where username = #{username}
    </update>

    <select id="getLastSign" resultType="java.util.Date" parameterType="String">
        select lastsign from opSignIn where username = #{username}
    </select>

    <select id="getFrequency" parameterType="String" resultType="int">
        select frequency from opSignIn where username = #{username}
    </select>

    <select id="getTeacherInf" parameterType="String" resultType="com.training.onlineeduplatform.model.user.TeacherInf">
        select * from opTeacherBaseInf where username = #{username}
    </select>

    <update id="changeTeacherInf" parameterType="com.training.onlineeduplatform.model.user.TeacherInf">
       update op set sex = #{sex}, email = #{email}, phone = #{phone} where username = #{username};
       update opTeacherInf
       set realname = #{realname}, education = #{education},  introduction= #{introduction}
       where id = (select id from op where username = #{username});
    </update>
</mapper>